body {
    background-image: url("../images/background.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.friends-list {
    background-color: aliceblue;
    padding: 3px;
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    color: black;
    box-shadow: 1px 1px 3px 1px #929292;
}

.go-home {
    background-color: aliceblue;
    margin: 5px;
    padding: 3px;
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    color: black;
    box-shadow: 1px 1px 3px 1px #929292;
}

.jumbotron {
    background-color: aliceblue;
    margin-top: 10px;
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    color: black;
    box-shadow: 1px 1px 3px 1px #929292;
}

.survey-box {
    background-color: #ad99a1;
    border-radius: 3px;
}
